<div>
    <h1>Hola {{nombre}}!</h1>
    {{!-- "apellido": "Pechet",
    "correo": "apechet3@unicef.org",
    "telefono": "402-361-3310",
    "edad": 54 --}}
    <h3>apellid: {{apellido}}</h3>
    <h3>correo: {{correo}}</h3>
    <h3>telefono: {{telefono}}</h3>
    <h3>edad: {{edad}}</h3>
</div>
<script src="js/index.js"></script>